QMainWindow{
background-color:#BC8F8F;
}

QMenuBar{
background-color:#BC8F8F;
}

QAction{
background-color:#BC8F8F;
}

QAction{
background-color:#BC8F8F;
}

QStatusBar{
background-color:#BC8F8F;
}

QMenu{
background-color:#BC8F8F;
}

QPushButton{
background-color:#e1a7a7;
border-radius: 10px;
}

QLineEdit{
background-color:#dfc2c2;
border-radius: 10px;
}

QTableWidget{
background-color:#dfc2c2;
}
QMessageBox{
background-color:#dfc2c2;
}
